@using CentralEvents.Web.App.Wrappers
@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject IHttpClient Client
@inject ILocalStorageService LocalStorage

<div>
    <_Header></_Header>
   
    <div>
        @Body
    </div>
    <_Footer></_Footer>
</div>