@inherits LayoutComponentBase
<div>
    <header class="head">
        <a href="/">
            <img src="css/Images/ce_logo.png"/>
        </a>
        <br/>
        <h1>Willkommen bei CentralEvents!</h1>
    </header>
    <div>
        @Body
    </div>
</div>