@inherits LayoutComponentBase
<div>
    <header>
        <link href="site.css" rel="stylesheet" type="text/css"/>
        <img src="css/Images/ce_logo.png"/>
        <h1>Willkommen bei CentralEvents!</h1>
    </header>
    <div>
        @Body
    </div>
</div>