@inherits LayoutComponentBase
<div>
    <header class="head">
        <a href="/">
            <img src="css/Images/ce_logo.png"/>
        </a>
        <br/>
    </header>
    <div>
        @Body
    </div>
    <footer>
        <p>
            <label>Adresse:</label>
            <br />
            <label>CentralEvents</label>
            <br />
            <label>CentralEvents-Straße 1</label>
            <br />
            <label>28111 Metro-Stadt</label>
            <br />
            <label>tickets@centralevents.de</label>
            <br />
            <label>0555-123456789</label>
        </p>
    </footer>
</div>