@page "/customer"
@using CentralEvents.Web.Api.Controllers
@using CentralEvent.Business.Contracts.Models
@using CentralEvents.Web.App.Wrappers
@inject IHttpClient Client

<h3>Registrieren</h3>


<div>
    <table>
        <tr>
            <td>
                <label>* Benutzername:</label>
                <input type="text" required />
            </td>
        </tr>
        <tr>
            <td>
                <label>Vorname:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Nachname:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Strasse:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Hausnummer:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>PLZ:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Ort:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>Telefonnummer:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>* E-Mail:</label>
                <input type="text" required/>
            </td>
        </tr>
        <tr>
            <td>
                <label>* Passwort:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td>
                <label>* Passwort wiederholen:</label>
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td id="abbrechen">
                <a href="/">Abbrechen</a>
            </td>
        </tr>
        <tr>
            <td>
                <button>Registrieren</button>
            </td>
        </tr>
        <tr>
            <td>
                * Pflichtfelder
            </td>
        </tr>
    </table>
</div>



@code {

}
