@page "/bookings/{id}"
@using CentralEvents.Web.App.Wrappers
@using CentralEvent.Business.Contracts.Models
@inject IHttpClient Client

<h3>Bookings</h3>
<input type="number" name="amount" id="amount" value="'.$ticket_amount.'" min="1">
<label>Ticketanzahl</label>
<h2>@eventModel.Name</h2>

    <div>
        <table>
            <tr>
                <td>
                    <label>Ticketanzahl</label>
                    <input type="number" name="amount" id="amount" value="'.$ticket_amount.'" min="1">
                </td>
            </tr>
            <tr>
                <td>
                    <label>Vorname:</label>
                    <input />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Nachname:</label>
                    <input />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Strasse:</label>
                    <input />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Hausnummer:</label>
                    <input />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Plz:</label>
                    <input />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Telefonnummer:</label>
                    <input />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Email:</label>
                    <input />
                </td>
            </tr>
            <tr>
                <td>
                    <button>
                        <a href="/">Abbrechen</a>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</p>

@code
{

    [Parameter]
    public string Id { get; set; }

    EventModel eventModel = new EventModel();

    protected override async Task OnInitializedAsync()
    {
        eventModel = await Client.GetJsonAsync<EventModel>($"api/eventControl/getEvent/{Id}");
    }

}