@page "/"
@using CentralEvents.Web.App.Wrappers

@using CentralEvents.Web.Api.Controllers
@using CentralEvent.Business.Contracts.Models
@inject IHttpClient Client


<h3>Veranstaltungen</h3>

@foreach (EventModel eventModel in eventS)
{
    <a href="details/@eventModel.Id">
        <div class="event">
            @eventModel.Name
        </div>
    </a>
    <br/>
}


@code
{
    private IEnumerable<EventModel> eventS = new EventModel[0];
    private EventModel eventModel = new EventModel();
    CeStaDaController ceStaDaController = new CeStaDaController();

    protected override async Task OnInitializedAsync()
    {
        eventS = await Client.GetJsonAsync<IEnumerable<EventModel>>("api/event/getAll");

        if (!(eventS.Count() > 0))
        {
            foreach (EventModel eventModel in ceStaDaController.CreateStammdaten())
            {
                this.eventModel = eventModel;
                await AddEvent();
            }
        }
        eventS = await Client.GetJsonAsync<IEnumerable<EventModel>>("api/event/getAll");
    }

    private async Task AddEvent()
    {
        await Client.PostAsync("api/event/add", eventModel);
    }

}