@page "/"
@using CentralEvents.Web.App.Wrappers
@inject IHttpClient Client


<h1>Hello, wordl you!</h1>

@* in den foreach mit rein *@
   
@* <a href="details/@eventModel.Id">Details</a> *@
<a href="details">Details</a>
