@page "/"
@using CentralEvents.Web.App.Wrappers
@using CentralEvent.Business.Contracts.Models
@using CentralEvents.Web.Api.Controllers
@inject IHttpClient Client


<h2>Veranstaltungen</h2>

@foreach (EventModel eventModel in eventS)
{
    <div>
        @eventModel.Name
        <br/>
        <a href="details">Details</a>
    </div>
    <br/>
}

@* in den foreach mit rein *@

@* <a href="details/@eventModel.Id">Details</a> *@

@code
{
    private IEnumerable<EventModel> eventS = new EventModel[0];
    private EventModel eventModel = new EventModel();
    CesController cesController = new CesController();

    protected override async Task OnInitializedAsync()
    {
        eventS = await Client.GetJsonAsync<IEnumerable<EventModel>>("api/eventControl");

        if (!(eventS.Count() > 0))
        {
            foreach (EventModel eventModel in cesController.CreateStammdaten())
            {
                this.eventModel = eventModel;
                await AddEvent();
            }
        }
        eventS = await Client.GetJsonAsync<IEnumerable<EventModel>>("api/eventControl");
    }

    private async Task AddEvent()
    {
        await Client.PostAsync("api/eventControl/add", eventModel);
    }
}