@page "/"
@using CentralEvents.Web.App.Wrappers
@using CentralEvent.Business.Contracts.Models
@inject IHttpClient Client

<h1>Willkommen bei CentralEvents!</h1>
<h2>Veranstaltungen</h2>

@foreach (EventModel eventModel in eventS)
{
    <div >
        @eventModel.Name
    </div>
    <br/>
}

@code
{
    private IEnumerable<EventModel> eventS = new EventModel[0];

    protected override async Task OnInitializedAsync()
    {
        eventS = await Client.GetJsonAsync<IEnumerable<EventModel>>("api/eventControl");
    }
}